

@import url('./blocks/app/app.css');
@import url('./blocks/question/question.css');
@import url('./blocks/ruler/ruler.css');


body{
  background-color: black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 1px;
}

